<%= form_for @recipe do |f| %>
  Title: <%= f.text_field :title %>
  <!-- <fieldset>
  <legend> Ingredient </legend>
  <p>
    <label>Name</label>
    <input type="text" name="recipe[ingredients_attributes][][name]">
    <label>Quantity</label>
    <input type="text" name="recipe[ingredients_attributes][][quantity]">
  </p>
</fieldset> -->

  <%=f.fields_for :ingredients do |ingredient_builder| %>
  <fieldset>
  <legend> Ingredient </legend>
  <p>
    <%= ingredient_builder.label :name %>
    <%= ingredient_builder.text_field :name %>
  </p>
  <p>
    <%= ingredient_builder.label :quantity %>
    <%= ingredient_builder.text_field :quantity %>
  </p>
  </fieldset>
  <% end %>

  <br>
  <%= f.submit %>
<% end %>
